.header{

}
.header-container{
 width:90%;
max-width: 1400px;
margin:0 auto;
display:flex;
justify-content: space-between;
align-items: center;
}
.header-logo{
padding:0.75em;
 background-color:#A80000;
 color:#f2ccb7;
 font-size:30px ;
 font-family: 'Prata',sans-serif;

}
.header-nav{

 display: flex;
 gap:1em;
 .header-nav-item{
  list-style: none;
  a{
   font-size: 1.2em;
   color:white;
   cursor: pointer;
   font-family: "Inter",sans-serif;
  }
 
 }
}

