#main{
 background: url('../img/404-background.png') center center/cover;
}
.notFound-container{
 width:95%;
 max-width:1400px;
 margin: 0 auto;
 padding:5em 0;
 height:80vh;
 display:flex;
 justify-content: space-between;
 align-items: center;
}
#title{
 cursor: pointer;
 font-size: 5rem;
 color:#fff
 
}
.error-msg{
 color:#fff;
 font-size: 2rem;
 margin-bottom: 0.75em;
}
.btn{
 border: 2px solid white;
 color:#fff;
 font-size: 1.2rem;
 padding:0.35em 0.875em;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
 display: inline-block;
 margin-right: 1em;
 &:hover
{
  background:white;
  border: 2px solid white;
 color:#000;
 }
 .icon{
  font-size: 0.7em !important;
  margin-right:.6rem!important ;
  
 }
}