
.about{
 background-color: #F1F1F1;
 color:black
}
.about-container{
 width:95%;
 max-width: 1400px;
 margin:0 auto;
}
.about-title{
 font-size:3rem !important ;
 font-family: "Inter",sans-serif;
}

.about-description{
display:flex;
justify-content: space-between;
margin-bottom: 2em;
font-family: "Inter",sans-serif;

 &__text{
  width:65%;
  font-family: "Inter",sans-serif;
  line-height: 1.8;
 }
 &__img{
  width:30%;
  height:400px;
  background-color: darkgray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

}
.about-footer{
 line-height: 1.8;
 font-family: "Inter",sans-serif;
}