.about{
background-color: black;
color:white;
font-family: "Inter",sans-serif;
 .about-container{
  width:95%;
  max-width: 1400px;
  margin:0 auto;
  padding:5em 0;
  .about-title{
   margin-bottom: 0.875em;
   font-size: 2rem;
  }
  .about-text{
   margin-bottom: 2em;
   line-height: 1.6;
   font-size: 1rem;
   width:80%;
  }
.social-links{
 list-style: none;
}
.social-link a{
 color:white;
 display: inline-block;
 margin-bottom:0.75em;
 font-size:1.1rem
}

 }
}