{{ define "main" }}

<section class="about">
 <div class="about-container">
  <h1 class="about-title">About M'didech Abdelaziz</h1>
  <div class="about-description">
   <p class="about-description__text">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, totam! Magni vel, necessitatibus accusantium ratione quam maiores fuga neque voluptas distinctio. Deserunt, quos mollitia ad vero tempore provident quas suscipit excepturi consequuntur, ipsum omnis maxime, doloremque animi officia perferendis harum! Dolores dolorum culpa quod maxime doloremque unde distinctio voluptatem tempora.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eum libero pariatur culpa aspernatur nostrum accusantium numquam unde quisquam asperiores. Temporibus eum, sed error amet in esse cumque nostrum, provident aliquam quia commodi quos dolorum, perspiciatis laboriosam unde asperiores possimus impedit veniam facilis iusto quas? Saepe similique explicabo tenetur voluptatem?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, totam! Magni vel, necessitatibus accusantium ratione quam maiores fuga neque voluptas distinctio. Deserunt, quos mollitia ad vero tempore provident quas suscipit excepturi consequuntur, ipsum omnis maxime, doloremque animi officia perferendis harum! Dolores dolorum culpa quod maxime doloremque unde distinctio voluptatem tempora.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eum libero pariatur culpa aspernatur nostrum accusantium numquam 
   </p>
   <div class="about-description__img">
    
   </div>
  </div>
  <p class="about-footer">
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta cupiditate excepturi accusamus voluptatum! Iste repellat labore tempora nostrum, atque numquam non laborum commodi accusantium ab ipsa expedita voluptatum fugit, impedit quia? Labore eius ea totam laudantium consequatur id tempora dolores veniam repellat ad sed magni vitae atque, neque, officia laboriosam expedita eum sunt qui illum facilis, provident numquam magnam ex! Quo minus ipsa adipisci quae nemo consequuntur quos dignissimos iure quidem iusto! Sed nobis labore alias nesciunt eveniet dicta deserunt ex voluptas ipsum, unde libero provident quam fugiat ab odit consequatur! Corrupti vitae quos fuga quibusdam illo maxime dolor, iste facilis eligendi labore velit et molestias nam sequi incidunt qui!
  </p>
 </div>
</section>


{{ end }}