<section class="about">
 <div class="about-container">
  <h2 class="about-title">Hello,</h2>
  <p class="about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus iusto neque dignissimos sint voluptas vero reprehenderit? Asperiores rem a et, commodi voluptatum, incidunt officia odio provident suscipit obcaecati inventore sunt accusantium quisquam praesentium placeat perferendis reiciendis debitis corrupti autem repellendus est nisi. Enim eveniet earum ipsa, eius porro iusto nemo?</p>
  <ul class="social-links">
    <li class="social-link">
     <a href="#">LinkedIn  <i class="fa-solid fa-arrow-right"></i></a>
    </li>
    <li class="social-link">
     <a href="#">Github  <i class="fa-solid fa-arrow-right"></i></a>
    </li>
    <li class="social-link">
     <a href="#">E-mail  <i class="fa-solid fa-arrow-right"></i></a>
    </li>
  </ul>
 </div>
</section>